<!DOCTYPE html>
<html>
  <%- include("_head") %> 
  <body>
    <%- include("_navbar") %>

   


    <div class="container">
      <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="col-8 mt-5 ">
      
              <h1>Payment success !</h1>
              <a class="btn btn-danger" href="homepage" value="Home">Home</a>

        
        </div>
      </div>



  


    </div>




    <%- include("_scripts") %>   
  </body>
</html>
