body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#c9dce7, #4b84b2);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}


h1 {
  color: #ffffff;

}